body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.btn-modern{
    color: white;
    background-color: #157A6E;
    border: none;
    border-radius: 5px;
    padding: 5px;
    border-bottom: 2px solid #34aa9c6c;
    cursor: pointer;
    transition: 0.4s;
    
}
.btn-modern:hover{
    transform:  translateY(-5px);
    box-shadow: 5px 2px 0px 0px rgba(0, 0, 0, 0.767);
    background-color: #3cc99e;
    color: black;
    
}